body {
    display: flex;
    flex-direction: column;
}

html, body {
    height: 100%;
    margin: 0;
    padding: 0;
}

/* 
    Body
    - Progress bar
    - #mapContianer
    - #gamemodeContainer

    #gamemodeContainer should be small but still readable
    #mapContianer should be as big as possible
*/

#progressBar {
    margin: 1px;
    height: 5vh;
}

#gamemodeContainer {
    margin: 1vw;
    font-size: 1rem;
    width: 98vw;
}

#gamemodeContainer > #multipleChoise {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    gap: 2px;
    max-height: 25vh;
}

#gamemodeContainer > #multipleChoise > button {
    width: 100%;

    align-items: center;
    background-color: #FFFFFF;
    border: 1px solid rgba(0, 0, 0, 0.1);
    border-radius: .25rem;
    box-shadow: rgba(0, 0, 0, 0.02) 0 1px 3px 0;
    box-sizing: border-box;
    color: rgba(0, 0, 0, 0.85);
    cursor: pointer;
    display: inline-flex;
    font-family: system-ui,-apple-system,system-ui,"Helvetica Neue",Helvetica,Arial,sans-serif;
    font-size: 16px;
    font-weight: 600;
    justify-content: center;
    line-height: 1.25;
    margin: 0;
    min-height: 3rem;
    padding: calc(.875rem - 1px) calc(1.5rem - 1px);
    position: relative;
    text-decoration: none;
    transition: all 250ms;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    vertical-align: baseline;
}

#gamemodeContainer > #multipleChoise > button:hover,
#gamemodeContainer > #multipleChoise > button:focus {
  border-color: rgba(0, 0, 0, 0.15);
  box-shadow: rgba(0, 0, 0, 0.1) 0 4px 12px;
  color: rgba(0, 0, 0, 0.65);
}

#gamemodeContainer > #multipleChoise > button:hover {
  transform: translateY(-1px);
}

#gamemodeContainer > #multipleChoise > button:active {
  background-color: #F0F0F1;
  border-color: rgba(0, 0, 0, 0.15);
  box-shadow: rgba(0, 0, 0, 0.06) 0 2px 4px;
  color: rgba(0, 0, 0, 0.65);
  transform: translateY(0);
}

#mapContainer {
    padding: 2%;
    width: 96%;
    max-height: 70vh;
    display: flex;
    justify-content: center;
}

#mapContainer > svg {
    height: 100%;
}

#progressBar {
    display: flex;
}

#progressBar > #bar {
    width: 90vw;
    display: flex;
    background-color: #F0F0F1;
}

#questionsCorrect {
    background-color: #00FF00;
    height: 100%;
    transition: width 0.5s ease;
}

#questionsIncorrect {
    background-color: #FF0000;
    height: 100%;
    transition: width 0.5s ease;
}

#QuestionBreakdown {
    overflow: scroll;
}