body {
  flex-direction: column;
}

html,
body {
  height: 100vh;
  margin: 0;
  padding: 0;
  overflow: hidden;
  display: flex;
}

#progressBar {
  width: 90%;
  max-width: 900px;
  margin: 0;
  margin-top: 40px;
  height: 5vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #e0e0e0;
}

#gamemodeContainer {
  width: fit-content;
  height: fit-content;
  margin: 1vw;
  font-size: 1rem;
}

#gamemodeContainer > #multipleChoise {
  display: flex;
  gap: 30px;
  flex-wrap: wrap;
  max-width: 30vw;
}

#gamemodeContainer > #multipleChoise > button {
  width: 12vw;
  padding: 15px 0;
  color: black;
  border-radius: 6px;
  border: 1px solid black;
  font-size: clamp(10px, 2vw, 20px);
  cursor: pointer;
}

#gamemodeContainer > #multipleChoise > button:hover {
  transform: translateY(-1px);
}

#gamemodeContainer > #multipleChoise > button:active {
  background-color: #f0f0f1;
  border-color: rgba(0, 0, 0, 0.15);
  box-shadow: rgba(0, 0, 0, 0.06) 0 2px 4px;
  color: rgba(0, 0, 0, 0.65);
  transform: translateY(0);
}

#mapContainer {
  max-width: 43vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 50%;
  height: 70vh;
  border: 2px solid black;
  background-color: #6a7f8b;
  padding: 20px 0;
  border-radius: 10px;
}

#mapContainer > svg {
  height: 100%;
  border-radius: 5px;
  border: 1px solid black;
}

#progressBar,
#progressBar > #bar {
  border-radius: 20px;
  overflow: hidden;
}

#progressBar > #bar {
  width: 100%;
  display: flex;
  background-color: #f0f0f1;
  height: 100%;
}

#questionsCorrect {
  background-color: #3b9e3b;
  height: 100%;
  transition: width 0.5s ease;
}
#questionsIncorrect {
  background-color: #b43f3f;
  height: 100%;
  transition: width 0.5s ease;
}

#finishedContainer {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgba(0, 0, 0, 0.5);
  visibility: hidden;
  opacity: 0;
  transition: visibility 0s, opacity 0.5s;
}

#finishedContainer.show {
  visibility: visible;
  opacity: 1;
}

.popup {
  position: fixed;
  width: 40%;
  max-width: 400px;
  background-color: #fff;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
  text-align: center;
}

.popup h2 {
  margin: 0 0 10px;
}

.popup p {
  margin: 5px 0;
}

#QuestionBreakdown {
  max-height: 150px;
  overflow-y: auto;
  margin-top: 10px;
  padding: 10px;
  background-color: #f9f9f9;
  border-radius: 4px;
}

#mainContent {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 100vw;
  padding: 1vw;
  box-sizing: border-box;
  flex: 1;
  overflow: hidden;
}

.overlay {
  background: rgba(0, 0, 0, 0.5); /* Darker overlay */
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: none;
  justify-content: center;
  align-items: center;
  z-index: 100;
  animation: fadeIn 0.3s ease; /* Fade-in animation */
}

.overlay.show {
  display: flex;
}

.popup {
  background-color: #6a7f8b;
  border-radius: 15px;
  text-align: center;
  border: 2px solid #000000;
  box-shadow: 0 6px 20px rgba(0, 0, 0, 0.1);
  padding: 30px;
  width: 90%;
  max-width: 500px;
  transform: scale(0.8);
  animation: popupEnter 0.3s forwards;
  box-shadow: #2c3532 4px 4px 0 0;
}
