
<svg id="map" width="{{map.viewBox[2]}}" aspect-ratio="map.viewBox[2]/map.viewBox[3]" viewBox="{{map.getViewBox()}}" xmlns="http://www.w3.org/2000/svg">
  <g id="background">
    {% for background in map.backgroundElements %}
      {{ background | safe }}
    {% endfor %}
  </g>
  <g id="questions">
    {% for question in map.questions %}
      <g Id="{{ map.hash(question.id) }}" class="{{ question.category }}">
        {{ question.svg | safe }}
      </g>
    {% endfor %}
  </g>
  <g id="foreground">
    {% for foreground in map.foregroundElements %}
      {{ foreground | safe }}
    {% endfor %}
  </g>
</svg>

<style>
  #questions > g {
    cursor: pointer;
    fill: #fffbdb;
    transition: all 0.25s ease-in-out;
  }

  #questions > g.Steden {
    cursor: pointer;
    fill: #c7bd74;
    transition: all 0.25s ease-in-out;
  }

  #questions > g.Gebieden {
    cursor: pointer;
    fill: #b3a86423;
    transition: all 0.25s ease-in-out;
  }

  #questions > g:hover{
    filter: brightness(0.95);
    z-index: 1;
  }
  
  #questions > g.Gebieden:hover {
    fill: #00000023;
  }

  #questions > g:active {
    filter: brightness(0.9);
  }

  #questions > g.incorrect {
    fill: #f3b7b7;
  }

  #questions > g.Steden.incorrect {
    fill: #b37b7b;
  }

  #questions > g.Gebieden.correct {
    fill: #e0a4a4;
  }

  #questions > g.correct {
    fill: #b7f3b7;
  }

  #questions > g.Steden.correct {
    fill: #6ca56c;
  }

  #questions > g.Gebieden.correct {
    fill: #94d39480;
  }

  #questions > g.active {
    fill: #b7b7f3;
  }

  #questions > g.Steden.active {
    fill: #7878b1;
  }
</style>

<script>
  urlParams = new URLSearchParams(window.location.search);
  
  socket.on('updateMap', function(data) {
    var question = document.getElementById(data.questionId);
    question.classList.remove('active');
    question.classList.add(data.status);
  });

  socket.on('connect', function(data) {
    socket.emit('getQuestion', {'sessionToken': urlParams.get('sessionToken')});
  });
</script>
