
<div id="multipleChoise">

</div>

<script>
    socket.on('question', function(data) {
        console.log(data);
        var multipleChoise = document.getElementById('multipleChoise');
        var mapElement = document.getElementById(data.question);
        var possibleAnswers = data.mcAwnsers;
        var question = data.question;

        if (mapElement) {
            mapElement.classList.add('active');
        }

        multipleChoise.innerHTML = '';

        for (var i = 0; i < possibleAnswers.length; i++) {
            var button = document.createElement('button');
            button.textContent = possibleAnswers[i];
            button.setAttribute('data-answer', possibleAnswers[i]);

            button.addEventListener('click', function() {
                var answer = this.getAttribute('data-answer');
                socket.emit('answerQuestion', {'awnser': answer, 'hashed':false, 'sessionToken': urlParams.get('sessionToken')});
            });
            multipleChoise.appendChild(button);
        }

    });
</script>