<!DOCTYPE html>
<html lang="nl">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Flask-SocketIO Example</title>
    <script src="https://cdn.socket.io/4.0.0/socket.io.min.js"></script>
    <script src="{{ url_for('static', filename='js/socketio.js') }}"></script>
</head>
<body>
    <h1>Flask-SocketIO Example</h1>
    <div id="messages"></div>
    {% if map.sessionMode == 1 %}
        {% include('partials/multipleChoise.html') %}
    {% endif %}
    {% if map.sessionMode == 2 %}
        {% include('partials/shortAnswer.html') %}
    {% endif %}
    {% if map.sessionMode == 3 %}
        {% include('partials/clickTheCountry.html') %}
    {% endif %}
    {% include('partials/map.html') %}
</body>
</html>
